.container{
    /* height: 100px;
    background-color: #ACBCFF; */
    display:flex;
    flex-wrap: wrap;
    gap: 2px;
}

.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11,.box12,.box13,.box14,.box15,.box16{
    height: 100px;
    width:400px;
    background-color: brown;
    
    /* margin:10px; */
}

.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover,.box7:hover,.box8:hover,.box9:hover,.box10:hover,.box11:hover,.box12:hover,.box13:hover,.box14:hover,.box15:hover,.box16:hover{
    background-color: #ACBCFF;
}