.container{
    /* height: 100px;
    background-color: #ACBCFF; */
    display:flex;
    flex-wrap: wrap;
    gap: 2px;
}

.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11,.box12,.box13,.box14,.box15,.box16{
    height: 50px;
    width:50px;
    background-color: #FFFAF4;
    
    /* margin:10px; */
}
.btn{
    height: 70px;
    width: 400px;
    margin-left:35% ; margin-right:35% ; margin-bottom: 4px;
    font-size: large;
    font-weight: bold;
}

.clearBtn,.eraseBtn,.recolor{
    height: 50px;
    width: 129px;
    font-weight: bold;
}

.containerForButton{
    margin-left: 35%;
    margin-top: 4px;
    display: flex;
    gap: 7px;
}



